.login_container{
    display:flex;
    flex-direction: column;
    width:400px;
    margin:auto;
    align-items: center;
    gap:40px;
    /* border:2px solid black; */
    border-radius: 10px;
    margin-top:50px;
    padding:30px 30px;
    background-color: rgb(148, 231, 13);
    color:white;
}

.login_container > p{
    font-size: 27px;
    font-weight: 700;

}
